<div class="container">
    <div class="left">
        <h1>Generador de formato</h1>
        <p>Sube un archivo de csv, excel o archivo de texto con la siguiente forma:</p>
        <%= form_with(url: "#", method: "post", multipart: true) do %>
            <%= file_field_tag :csv %>
            <%= submit_tag "Enviar"%>
        <%end %>
        <% if @file %>
            <%= link_to "Descargar Archivo", "files/download/document" %>
        <% end %>
    </div>
</div>
